Image{
    border-width: 1;
    border-color: #666;
    vertical-align: center;
    horizontal-align: center;
}

.page{
    background-color: #358ccb;
}

.shatteritem{
    vertical-align: center;
    horizontal-align: center;
    margin: 20 0;
}

Button{
    padding: 40 20;
}